h1 { font-size: 75px;
		font-color: green;
		font-family: Courier;
		}

div	{	color:green;
		text-align: center;
		font-family: Courier ;
		margin: auto-0;
		font-size:100px;
		padding: 30px;
		}

body {
  background-image:url("http://architizer-prod.imgix.net/media/1376677393034bigger_splash_Hockney.jpg?q=60&auto=format,compress&cs=strip&w=1680");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
